.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    padding: 0px;
    border-radius: 10px;
    @media (max-width: 600px) {
        padding: 0px;
    }
    // .chart {
    //     min-width: 100px;
    //     height: 300px;
    //     width: 100%;
    //     display: flex;
    //     justify-content: flex-end;
    //     align-items: flex-end;
    // }
}